In [51]:
import pandas as pd
import numpy as np
import joblib
import faiss

In [ ]:
user = joblib.load('user.pkl') # 실제로는 S3 버킷에서 로드

In [53]:
user

{'USER_ID': 'admin3',
 'PASSWORD': 'admin3',
 'CONFIRM_PASSWORD': 'admin3',
 'NAME': '유상범',
 'BIRTHDATE': '1999-11-15',
 'GENDER': '1',
 'EDU_NM': '4',
 'EDU_FNSH_SE': '1',
 'MARR_STTS': '2',
 'JOB_NM': '5',
 'INCOME': '800',
 'HOUSE_INCOME': '3200',
 'TRAVEL_TERM': '1',
 'TRAVEL_LIKE_SIDO_1': '부산광역시',
 'TRAVEL_LIKE_SIDO_2': '대전광역시',
 'TRAVEL_LIKE_SIDO_3': '서울특별시',
 'TRAVEL_STYL_1': '6',
 'TRAVEL_STYL_2': '2',
 'TRAVEL_STYL_3': '3',
 'TRAVEL_STYL_4': '5',
 'TRAVEL_STYL_5': '2',
 'TRAVEL_STYL_6': '7',
 'TRAVEL_STYL_7': '7',
 'TRAVEL_STYL_8': '7',
 'TRAVEL_MOTIVE_1': '2',
 'TRAVEL_MOTIVE_2': '1',
 'FAMILY_MEMB': '2',
 'TRAVEL_NUM': '3',
 'TRAVEL_COMPANIONS_NUM': '3',
 'uuid': 'd01f3159-4813-4d05-aadb-0c3b2c3af852',
 'AGE_GRP': '20',
 'phone_number': '01044280700'}

In [79]:
categorical_cols = [
    'GENDER', 'EDU_NM', 'EDU_FNSH_SE', 'MARR_STTS', 'JOB_NM',
    'HOUSE_INCOME', 'TRAVEL_TERM',
    'TRAVEL_LIKE_SIDO_1', 'TRAVEL_LIKE_SIDO_2', 'TRAVEL_LIKE_SIDO_3',
]

numerical_cols = [
    'AGE_GRP', 'FAMILY_MEMB', 'TRAVEL_NUM', 'TRAVEL_COMPANIONS_NUM',
    'TRAVEL_STYL_1', 'TRAVEL_STYL_2', 'TRAVEL_STYL_3', 'TRAVEL_STYL_4',
    'TRAVEL_STYL_5', 'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
    'TRAVEL_MOTIVE_1', 'TRAVEL_MOTIVE_2',
    'INCOME'
]

use_cols = categorical_cols + numerical_cols

In [80]:
filtered_user = {key: user[key] if key not in numerical_cols else int(user[key]) for key in use_cols if key in user}
filtered_user

{'GENDER': '1',
 'EDU_NM': '4',
 'EDU_FNSH_SE': '1',
 'MARR_STTS': '2',
 'JOB_NM': '5',
 'HOUSE_INCOME': '3200',
 'TRAVEL_TERM': '1',
 'TRAVEL_LIKE_SIDO_1': '부산광역시',
 'TRAVEL_LIKE_SIDO_2': '대전광역시',
 'TRAVEL_LIKE_SIDO_3': '서울특별시',
 'AGE_GRP': 20,
 'FAMILY_MEMB': 2,
 'TRAVEL_NUM': 3,
 'TRAVEL_COMPANIONS_NUM': 3,
 'TRAVEL_STYL_1': 6,
 'TRAVEL_STYL_2': 2,
 'TRAVEL_STYL_3': 3,
 'TRAVEL_STYL_4': 5,
 'TRAVEL_STYL_5': 2,
 'TRAVEL_STYL_6': 7,
 'TRAVEL_STYL_7': 7,
 'TRAVEL_STYL_8': 7,
 'TRAVEL_MOTIVE_1': 2,
 'TRAVEL_MOTIVE_2': 1,
 'INCOME': 800}

In [81]:
pipeline = joblib.load('../data/VL_CSV/tn_traveller_pipeline.pkl')

In [82]:
sgg = pd.read_csv('../data/VL_csv/tc_sgg_시군구코드.csv')

In [83]:
filtered_user

{'GENDER': '1',
 'EDU_NM': '4',
 'EDU_FNSH_SE': '1',
 'MARR_STTS': '2',
 'JOB_NM': '5',
 'HOUSE_INCOME': '3200',
 'TRAVEL_TERM': '1',
 'TRAVEL_LIKE_SIDO_1': '부산광역시',
 'TRAVEL_LIKE_SIDO_2': '대전광역시',
 'TRAVEL_LIKE_SIDO_3': '서울특별시',
 'AGE_GRP': 20,
 'FAMILY_MEMB': 2,
 'TRAVEL_NUM': 3,
 'TRAVEL_COMPANIONS_NUM': 3,
 'TRAVEL_STYL_1': 6,
 'TRAVEL_STYL_2': 2,
 'TRAVEL_STYL_3': 3,
 'TRAVEL_STYL_4': 5,
 'TRAVEL_STYL_5': 2,
 'TRAVEL_STYL_6': 7,
 'TRAVEL_STYL_7': 7,
 'TRAVEL_STYL_8': 7,
 'TRAVEL_MOTIVE_1': 2,
 'TRAVEL_MOTIVE_2': 1,
 'INCOME': 800}

In [84]:
filtered_user = pd.DataFrame([filtered_user])

In [85]:
filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_1'] = sgg[sgg['SIDO_NM'] == filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_1']]['SGG_CD1'].values[0]
filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_2'] = sgg[sgg['SIDO_NM'] == filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_2']]['SGG_CD1'].values[0]
filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_3'] = sgg[sgg['SIDO_NM'] == filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_3']]['SGG_CD1'].values[0]

In [86]:
pipeline.named_steps['preprocess'].transform(filtered_user)

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , -1.00991269, -1.32059141,  0.10609982,  0.96006377,
        -1.07159211, -0.76069347, -2.21516339]])

# Faiss 분석

In [87]:
df = pd.read_csv("../data/VL_csv/tn_traveller_master_여행객 Master_E.csv")

In [88]:
X_all = joblib.load('../data/VL_CSV/X_all.pkl')

In [89]:
input_vec = pipeline.named_steps['preprocess'].transform(filtered_user)

In [90]:
# X_all: 모든 사용자 벡터 (n_users, n_features)
# input_vec: 추천 대상 사용자 벡터 (1, n_features)

# float32로 변환
X_all = X_all.astype('float32')
input_vec = input_vec.astype('float32')

# Index 생성 (IndexFlatL2)
d = X_all.shape[1]  # feature 수
index = faiss.IndexFlatL2(d)  # L2 거리 기반

# 인덱스에 전체 유저 벡터 추가
index.add(X_all)

# 유사 유저 top 10 검색
k = 10
D, I = index.search(input_vec, k)  # D: 거리, I: 인덱스

# 결과 출력
print("Top 10 유사 유저 인덱스:", I[0])
print("Top 10 거리:", D[0])

# 유사 유저 정보 확인
similar_users = df.iloc[I[0]]
print(similar_users[['TRAVELER_ID', 'AGE_GRP', 'TRAVEL_STATUS_DESTINATION']])

Top 10 유사 유저 인덱스: [ 871  638 1370    9  680 1750 1725  109  327 1880]
Top 10 거리: [23.75035  24.47649  25.664268 26.398006 26.730734 26.812914 26.941628
 27.135815 27.183735 27.379505]
     TRAVELER_ID  AGE_GRP TRAVEL_STATUS_DESTINATION
871      e002253       40                        경기
638      e002233       20                        경기
1370     e002536       20                        서울
9        e000655       50                        경기
680      e001025       30                        경기
1750     e001577       20                        경기
1725     e010255       30                        경기
109      e003867       20                        경기
327      e010200       40                        경기
1880     e011858       20                        경기

In [91]:
travel = pd.read_csv('../data/VL_CSV/tn_travel_여행_E.csv')
area = pd.read_csv('../data/VL_CSV/tn_visit_area_info_방문지정보_Cleaned_E.csv')

In [92]:
travel = travel[travel['TRAVELER_ID'].isin(similar_users['TRAVELER_ID'])]
len(travel)

10

In [93]:
travel_ids = travel['TRAVEL_ID'].to_list()
filter_area = ['집', '사무실', '학교', '기타']
area = area[(area['TRAVEL_ID'].isin(travel_ids)) & (~area['VISIT_AREA_NM'].isin(filter_area))]
len(area)

72

In [96]:
area.columns

Index(['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM',
       'VISIT_START_YMD', 'VISIT_END_YMD', 'ROAD_NM_ADDR', 'LOTNO_ADDR',
       'X_COORD', 'Y_COORD', 'ROAD_NM_CD', 'LOTNO_CD', 'POI_ID', 'POI_NM',
       'RESIDENCE_TIME_MIN', 'VISIT_AREA_TYPE_CD', 'REVISIT_YN',
       'VISIT_CHC_REASON_CD', 'LODGING_TYPE_CD', 'DGSTFN', 'REVISIT_INTENTION',
       'RCMDTN_INTENTION', 'SGG_CD'],
      dtype='object')

In [97]:
area[['VISIT_AREA_NM', 'VISIT_AREA_ID']][:20]

          VISIT_AREA_NM  VISIT_AREA_ID
1320      부천 호수 식물원 수피아     2305200002
1321            상동호수 공원     2305200003
1322  제주 은희네 해장국 부천 상동점     2305200004
1323           A 플러스 호텔     2305200005
1324              부천식물원     2305210001
1325             수타원 본점     2305210002
1326              에스 모텔     2305210003
1327    크라이 치즈 버거 가톨릭대점     2305210004
1328        프랭크 버거 역곡역점     2305210005
1329              에스 모텔     2305210006
1330             부천중앙공원     2305220001
1331            예그린 하우스     2305220002
2386      무봉리 토종 순댓국 본점     2306040002
2387          라뜰리에 빵 카페     2306040003
2388              고모저수지     2306040004
2389            이마트 포천점     2306040005
2390            코지 11펜션     2306040006
2391                 고풍     2306040007
2392            코지 11펜션     2306040008
2393             허브아일랜드     2306050002

In [98]:
photo = pd.read_csv('../data/VL_csv/tn_tour_photo_관광사진_E.csv')

In [101]:
cond = photo['VISIT_AREA_ID'].isin(area['VISIT_AREA_ID'].to_list()[:10])

photo = photo[cond]

In [103]:
photo.head().T

,32,993,996,1053,1054
TRAVEL_ID,e_e000385,e_e000385,e_e000482,e_e000509,e_e000561
VISIT_AREA_ID,2305210003,2305210002,2305200002,2305200002,2305200002
TOUR_PHOTO_SEQ,0,0,0,0,0
PHOTO_FILE_ID,e00038501003p0001,e00038501002p0001,e00048202003p0001,e00050902003p0001,e00056101002p0001
PHOTO_FILE_NM,e00038501003p0001.jpg,e00038501002p0001.jpg,e00048202003p0001.jpg,e00050902003p0001.jpg,e00056101002p0001.jpg
PHOTO_FILE_FRMAT,jpg,jpg,jpg,jpg,jpg
PHOTO_FILE_DT,2023-05-21 12:48:58,2023-05-21 11:40:55,2023-05-20 12:21:39,2023-05-20 10:29:10,2023-05-20 19:58:13
PHOTO_FILE_SAVE_PATH,/photo/,/photo/,/photo/,/photo/,/photo/
PHOTO_FILE_RESOLUTION,4000x3000,4000x3000,3024x4032,4032x3024,4032x3024
PHOTO_FILE_X_COORD,126.459891,126.456461,126.927322,126.92775,126.632589
PHOTO_FILE_Y_COORD,37.591997,37.611101,37.525122,37.525531,37.392851
VISIT_AREA_NM,NaN,NaN,NaN,NaN,NaN