In [51]:
import pandas as pd
import numpy as np
import joblib
import faiss

In [52]:
user = joblib.load('user.pkl')

In [53]:
user

{'USER_ID': 'admin3',
 'PASSWORD': 'admin3',
 'CONFIRM_PASSWORD': 'admin3',
 'NAME': '유상범',
 'BIRTHDATE': '1999-11-15',
 'GENDER': '1',
 'EDU_NM': '4',
 'EDU_FNSH_SE': '1',
 'MARR_STTS': '2',
 'JOB_NM': '5',
 'INCOME': '800',
 'HOUSE_INCOME': '3200',
 'TRAVEL_TERM': '1',
 'TRAVEL_LIKE_SIDO_1': '부산광역시',
 'TRAVEL_LIKE_SIDO_2': '대전광역시',
 'TRAVEL_LIKE_SIDO_3': '서울특별시',
 'TRAVEL_STYL_1': '6',
 'TRAVEL_STYL_2': '2',
 'TRAVEL_STYL_3': '3',
 'TRAVEL_STYL_4': '5',
 'TRAVEL_STYL_5': '2',
 'TRAVEL_STYL_6': '7',
 'TRAVEL_STYL_7': '7',
 'TRAVEL_STYL_8': '7',
 'TRAVEL_MOTIVE_1': '2',
 'TRAVEL_MOTIVE_2': '1',
 'FAMILY_MEMB': '2',
 'TRAVEL_NUM': '3',
 'TRAVEL_COMPANIONS_NUM': '3',
 'uuid': 'd01f3159-4813-4d05-aadb-0c3b2c3af852',
 'AGE_GRP': '20',
 'phone_number': '01044280700'}

In [54]:
categorical_cols = [
    'GENDER', 'EDU_NM', 'EDU_FNSH_SE', 'MARR_STTS', 'JOB_NM',
    'INCOME', 'HOUSE_INCOME', 'TRAVEL_TERM',
    'TRAVEL_STYL_1', 'TRAVEL_STYL_2', 'TRAVEL_STYL_3', 'TRAVEL_STYL_4',
    'TRAVEL_STYL_5', 'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
    'TRAVEL_MOTIVE_1', 'TRAVEL_MOTIVE_2'
]

numerical_cols = [
    'AGE_GRP', 'FAMILY_MEMB', 'TRAVEL_NUM', 'TRAVEL_COMPANIONS_NUM',
    'TRAVEL_LIKE_SIDO_1', 'TRAVEL_LIKE_SIDO_2', 'TRAVEL_LIKE_SIDO_3'
]

use_cols = categorical_cols + numerical_cols

In [55]:
filtered_user = {key: user[key] for key in use_cols if key in user}
filtered_user

{'GENDER': '1',
 'EDU_NM': '4',
 'EDU_FNSH_SE': '1',
 'MARR_STTS': '2',
 'JOB_NM': '5',
 'INCOME': '800',
 'HOUSE_INCOME': '3200',
 'TRAVEL_TERM': '1',
 'TRAVEL_STYL_1': '6',
 'TRAVEL_STYL_2': '2',
 'TRAVEL_STYL_3': '3',
 'TRAVEL_STYL_4': '5',
 'TRAVEL_STYL_5': '2',
 'TRAVEL_STYL_6': '7',
 'TRAVEL_STYL_7': '7',
 'TRAVEL_STYL_8': '7',
 'TRAVEL_MOTIVE_1': '2',
 'TRAVEL_MOTIVE_2': '1',
 'AGE_GRP': '20',
 'FAMILY_MEMB': '2',
 'TRAVEL_NUM': '3',
 'TRAVEL_COMPANIONS_NUM': '3',
 'TRAVEL_LIKE_SIDO_1': '부산광역시',
 'TRAVEL_LIKE_SIDO_2': '대전광역시',
 'TRAVEL_LIKE_SIDO_3': '서울특별시'}

In [56]:
pipeline = joblib.load('../data/VL_CSV/tn_traveller_pipeline.pkl')

In [57]:
sgg = pd.read_csv('../data/VL_csv/tc_sgg_시군구코드.csv')

In [58]:
filtered_user

{'GENDER': '1',
 'EDU_NM': '4',
 'EDU_FNSH_SE': '1',
 'MARR_STTS': '2',
 'JOB_NM': '5',
 'INCOME': '800',
 'HOUSE_INCOME': '3200',
 'TRAVEL_TERM': '1',
 'TRAVEL_STYL_1': '6',
 'TRAVEL_STYL_2': '2',
 'TRAVEL_STYL_3': '3',
 'TRAVEL_STYL_4': '5',
 'TRAVEL_STYL_5': '2',
 'TRAVEL_STYL_6': '7',
 'TRAVEL_STYL_7': '7',
 'TRAVEL_STYL_8': '7',
 'TRAVEL_MOTIVE_1': '2',
 'TRAVEL_MOTIVE_2': '1',
 'AGE_GRP': '20',
 'FAMILY_MEMB': '2',
 'TRAVEL_NUM': '3',
 'TRAVEL_COMPANIONS_NUM': '3',
 'TRAVEL_LIKE_SIDO_1': '부산광역시',
 'TRAVEL_LIKE_SIDO_2': '대전광역시',
 'TRAVEL_LIKE_SIDO_3': '서울특별시'}

In [59]:
filtered_user = pd.DataFrame([filtered_user])

In [60]:
filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_1'] = sgg[sgg['SIDO_NM'] == filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_1']]['SGG_CD1'].values[0]
filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_2'] = sgg[sgg['SIDO_NM'] == filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_2']]['SGG_CD1'].values[0]
filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_3'] = sgg[sgg['SIDO_NM'] == filtered_user.loc[0, 'TRAVEL_LIKE_SIDO_3']]['SGG_CD1'].values[0]

In [61]:
pipeline.named_steps['preprocess'].transform(filtered_user)

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , -1.00991269, -1.32059141,  0.10609982,  0.96006377,
        -1.07159211, -0.76069347, -2.21516339]])

# Faiss 분석

In [66]:
df = pd.read_csv("../data/VL_csv/tn_traveller_master_여행객 Master_E.csv")

In [64]:
X_all = joblib.load('../data/VL_CSV/X_all.pkl')

In [62]:
input_vec = pipeline.named_steps['preprocess'].transform(filtered_user)

In [67]:
# X_all: 모든 사용자 벡터 (n_users, n_features)
# input_vec: 추천 대상 사용자 벡터 (1, n_features)

# float32로 변환
X_all = X_all.astype('float32')
input_vec = input_vec.astype('float32')

# Index 생성 (IndexFlatL2)
d = X_all.shape[1]  # feature 수
index = faiss.IndexFlatL2(d)  # L2 거리 기반

# 인덱스에 전체 유저 벡터 추가
index.add(X_all)

# 유사 유저 top 10 검색
k = 10
D, I = index.search(input_vec, k)  # D: 거리, I: 인덱스

# 결과 출력
print("Top 10 유사 유저 인덱스:", I[0])
print("Top 10 거리:", D[0])

# 유사 유저 정보 확인
similar_users = df.iloc[I[0]]
print(similar_users[['TRAVELER_ID', 'AGE_GRP', 'TRAVEL_STATUS_DESTINATION']])

Top 10 유사 유저 인덱스: [ 638  929 1639 1723  914 1075  874  878  337  877]
Top 10 거리: [20.47649  22.181473 22.479416 22.50678  22.511045 22.52425  22.779518
 23.036474 23.082836 23.146557]
     TRAVELER_ID  AGE_GRP TRAVEL_STATUS_DESTINATION
638      e002233       20                        경기
929      e006852       60                        경기
1639     e001164       40                        서울
1723     e006882       30                        경기
914      e010735       20                        서울
1075     e008320       30                        서울
874      e012232       30                        인천
878      e009845       20                        서울
337      e003235       30                        경기
877      e005922       20                        경기