In [4]:
import pandas as pd

data_path = '../data/VL_csv/tn_travel_여행_E.csv'

df = pd.read_csv(data_path)
print(df.shape)

df.head(3).T

(2560, 10)

,0,1,2
TRAVEL_ID,e_e000004,e_e000006,e_e000009
TRAVEL_NM,E03,E03,E03
TRAVELER_ID,e000004,e000006,e000009
TRAVEL_PURPOSE,3,21,2;4
TRAVEL_START_YMD,2023-04-30,2023-04-30,2023-04-29
TRAVEL_END_YMD,2023-05-01,2023-05-02,2023-05-01
MVMN_NM,NaN,NaN,NaN
TRAVEL_PERSONA,서울 외 수도권 방문/수도권 거주/40세 이상/자녀동반/일반미션,경기 방문/거주지 구분 없음/39세 이하/특별미션,서울 외 수도권 방문/수도권 거주/39세 이하/커플/일반미션
TRAVEL_MISSION,3,21,2;4
TRAVEL_MISSION_CHECK,3;4;11,21;10;27,22;1;7

In [3]:
df['MVMN_NM'].value_counts()

MVMN_NM
자가용       1222
대중교통 등    1022
Name: count, dtype: int64

In [28]:
df['MVMN_NM'].fillna('기타', inplace=True)
df['MVMN_NM'].replace('대중교통 등', '대중교통', inplace=True)
df['MVMN_NM'].value_counts()

MVMN_NM
자가용     1222
대중교통    1022
기타       316
Name: count, dtype: int64

### 페르소나 전처리

In [29]:
where = []
country = []
age = []
whowith = []
mission = []


for i, row in df.iterrows():
    tmp = row['TRAVEL_PERSONA'].split('/')
    if tmp[-1] == '특별미션':
        where.append(tmp[0])
        country.append(tmp[1])
        age.append(tmp[2])
        whowith.append(tmp[-1])
        mission.append(tmp[-1])
    else:
        where.append(tmp[0])
        country.append(tmp[1])
        age.append(tmp[2])
        whowith.append(tmp[3])
        mission.append(tmp[-1])

In [30]:
df['where'] = where
df['country'] = country
df['age'] = age
df['whowith'] = whowith
df['mission'] = mission

In [31]:
df['where'].value_counts()

where
서울 외 수도권 방문    1306
서울 방문           791
경기 방문           412
인천 방문            51
Name: count, dtype: int64

In [32]:
df['country'].value_counts()

country
수도권 거주       1614
거주지 구분 없음     663
수도권 외 거주      283
Name: count, dtype: int64

In [33]:
df['age'].value_counts()

age
39세 이하    1936
40세 이상     624
Name: count, dtype: int64

In [34]:
df['whowith'].value_counts()

whowith
커플          668
특별미션        663
나홀로 여행      402
자녀동반        361
부부          195
3인 이상 친구    189
부모 동반        49
3대 동반 여행     33
Name: count, dtype: int64

In [35]:
df['mission'].value_counts()

mission
일반미션    1897
특별미션     663
Name: count, dtype: int64

#### 페르소나 특징 확인
- 특별여행과 일반여행의 차이점 비교할 것

In [ ]:
df[df['mission'] == '특별미션']

,TRAVEL_ID,TRAVEL_NM,TRAVELER_ID,TRAVEL_PURPOSE,TRAVEL_START_YMD,TRAVEL_END_YMD,MVMN_NM,TRAVEL_PERSONA,TRAVEL_MISSION,TRAVEL_MISSION_CHECK,where,country,age,whowith,mission
1,e_e000006,E03,e000006,21,2023-04-30,2023-05-02,기타,경기 방문/거주지 구분 없음/39세 이하/특별미션,21,"[21, 10, 27]",경기 방문,거주지 구분 없음,39세 이하,특별미션,특별미션
10,e_e000020,E03,e000020,28;21,2023-04-29,2023-05-01,기타,경기 방문/거주지 구분 없음/40세 이상/특별미션,28,"[21, 2, 5]",경기 방문,거주지 구분 없음,40세 이상,특별미션,특별미션
11,e_e000021,E03,e000021,24,2023-04-29,2023-05-01,기타,경기 방문/거주지 구분 없음/40세 이상/특별미션,24,"[24, 6, 21]",경기 방문,거주지 구분 없음,40세 이상,특별미션,특별미션
12,e_e000022,E03,e000022,22;25,2023-04-29,2023-04-30,기타,경기 방문/거주지 구분 없음/40세 이상/특별미션,22,"[2, 3, 24]",경기 방문,거주지 구분 없음,40세 이상,특별미션,특별미션
14,e_e000025,E03,e000025,22,2023-04-30,2023-05-01,기타,경기 방문/거주지 구분 없음/40세 이상/특별미션,22,"[22, 4, 26]",경기 방문,거주지 구분 없음,40세 이상,특별미션,특별미션
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540,e_e012976,E03,e012976,22;26;24;1;4;6,2023-09-16,2023-09-17,대중교통,경기 방문/거주지 구분 없음/39세 이하/특별미션,22,"[1, 26, 4]",경기 방문,거주지 구분 없음,39세 이하,특별미션,특별미션
2548,f_f000038,E03,f000038,10;28,2023-04-29,2023-05-02,기타,경기 방문/거주지 구분 없음/40세 이상/특별미션,10,"[7, 4, 1]",경기 방문,거주지 구분 없음,40세 이상,특별미션,특별미션
2549,f_f000041,E03,f000041,2;21;26,2023-04-28,2023-04-30,기타,경기 방문/거주지 구분 없음/39세 이하/특별미션,2,"[23, 21, 26]",경기 방문,거주지 구분 없음,39세 이하,특별미션,특별미션
2552,f_f006366,E03,f006366,2;24;4;5;9,2023-08-18,2023-08-19,기타,경기 방문/거주지 구분 없음/40세 이상/특별미션,2,"[21, 22, 24]",경기 방문,거주지 구분 없음,40세 이상,특별미션,특별미션
2558,g_g010556,E03,g010556,22,2023-09-02,2023-09-03,자가용,경기 방문/거주지 구분 없음/39세 이하/특별미션,22,"[22, 5, 26]",경기 방문,거주지 구분 없음,39세 이하,특별미션,특별미션

### Travel_mission_check 전처리

- 무조건 3개씩 고름

In [16]:
df['TRAVEL_MISSION_CHECK'].apply(lambda x: len(x.split(';'))).value_counts()

TRAVEL_MISSION_CHECK
3    2560
Name: count, dtype: int64

In [15]:
df['TRAVEL_MISSION_CHECK'].apply(lambda x: x.split(';')).value_counts()

TRAVEL_MISSION_CHECK
[1, 22, 26]    33
[6, 1, 4]      29
[6, 22, 1]     28
[6, 1, 22]     21
[6, 22, 26]    21
               ..
[2, 7, 6]       1
[8, 24, 1]      1
[24, 21, 4]     1
[23, 1, 6]      1
[22, 5, 26]     1
Name: count, Length: 1236, dtype: int64

In [36]:
df['TRAVEL_MISSION'] = df['TRAVEL_MISSION'].apply(lambda x: x.split(';')[0]) # Mission은 한개만

In [17]:
df['TRAVEL_MISSION_CHECK'] = df['TRAVEL_MISSION_CHECK'].apply(lambda x: x.split(';'))

In [18]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
mission_matrix = mlb.fit_transform(df['TRAVEL_MISSION_CHECK'])

In [25]:
print(len(mission_matrix[0]))
mission_matrix[0]

21

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0])

In [38]:
import numpy as np
from sklearn.preprocessing import OneHotEncoder, MultiLabelBinarizer

# 주요 미션: One-hot
onehot = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
mission_main_encoded = onehot.fit_transform(df[['TRAVEL_MISSION']])

# 서브 미션: Multi-hot
mlb = MultiLabelBinarizer()
mission_sub_encoded = mlb.fit_transform(df['TRAVEL_MISSION_CHECK'])

# 병합
mission_features = np.hstack([mission_main_encoded, mission_sub_encoded])

In [44]:
len(mission_features), len(mission_features[0])

(2560, 42)